/* Layout principale */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

@mixin mytheme{
    .v-app-loading::before{
        width: 36px;
        height: 36px;
        background: url(img/ring.gif) no-repeat 50%;
    }
}

/* Indicarore di caricamento */

.v-loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: auto;

    animation: fadein 0.3s ease-out 0.2s normal 1 both;
    z-index: 2147483647;
}
@keyframes fadein {
    0% {
        background: rgba(0,0,0,0);
    }
    100% {
        background: rgba(0,0,0,.5); /* Darkens the UI */
    }
}

.v-loading-indicator:before {
    width: 76px;
    height: 76px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -38px 0 0 -38px;

    border-radius: 100%;
    animation: bouncedelay 1.2s infinite 0.4s ease-in-out both;
    content: "";
}

.v-loading-indicator.first:before {
    background-color: skyblue;
}

.v-loading-indicator.second:before {
    background-color: salmon;
}

.v-loading-indicator.third:before {
    background-color: red;
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% {
          transform: scale(1.0);
      }
}
